body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ddd;
}

nav ul li a.active {
    font-weight: bold;
    color: #ddd;
}

.login-button a {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}

.login-button a:hover {
    background-color: #0056b3;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #333;
    margin-bottom: 15px;
}

.hero {
    text-align: center;
    padding: 40px 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.history-section {
    padding: 20px;
    background-color: #eee;
    border-radius: 8px;
    margin-bottom: 20px;
}

.event, .news-item, .pricing, .opening-hours {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 0.3em 0; /* Réduction supplémentaire du padding vertical */
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.7em; /* Réduction supplémentaire de la taille de la police */
}

/* Responsive design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        margin-top: 10px;
        flex-direction: column;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .login-button {
        margin-top: 10px;
    }

    .container {
        margin: 10px;
        padding: 10px;
    }

    .hero h1 {
        font-size: 2em;
    }
}